/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-mai-2016, 11:46:25
    Author     : queni
*/
$backgroundColor: rgba(0,100,200,0.5);
$backgroundColor1: rgba(0,150,250,1);
$backgroundColorHover: rgba(0,100,200,1);
body {
    height: 100%;
    background-color: $backgroundColor;
    /*color: $backgroundColor;*/
    /*color: $backgroundColorHover;*/
    color: white;
    transition: 0.2s;
}
h1 {
    margin: 50px 0 50px 0;
    /*color: $backgroundColor;*/
}
form {
    margin-bottom: 50px;
}
#searchInput {
    /*color: $backgroundColorHover;*/
    color: $backgroundColor1;
    text-align: center;
    /*margin-bottom: 15px;*/
    /*font-weight: bold;*/
    /*font-size: 1.5em;*/
}
/*#searchBtn {
    
}*/
.btn.btn-default {
    color: $backgroundColor1;
}
.aBlock {
    display: block;
}
.panel a {
    text-decoration: none;
}
.panel * {
    color: $backgroundColor1;
    /*color: $backgrounColorHover;*/
}
.panel *:hover {
    /*color: $backgrounColor1;*/
    color: $backgroundColorHover;
    cursor:pointer;
    /*opacity: 0.4;*/
}
.collapsed {
    max-height: 80px;
    overflow: hidden;
}
footer {
    margin-top:40px;
    a {
        /*font-weight: bold;*/
        text-decoration: underline;
        color: inherit;   
    }
}